In [1]:
import pandas as pd
import numpy as np
from plotly import __version__
import cufflinks as cf
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot
%matplotlib inline
import cufflinks as cf

In [3]:
%matplotlib inline

In [4]:
import plotly
plotly.tools.set_credentials_file(username='BharatKoti', api_key='5goJK5zv3dwbDlPYlo4W')

In [5]:
init_notebook_mode(connected=True)

In [6]:
df1 = pd.DataFrame(np.random.randn(100,4),columns = 'A B C D'.split())

In [7]:
df1.head()

          A         B         C         D
0 -2.111432 -0.504303  0.512248  0.363437
1 -0.514366  0.334500 -0.473482  0.313916
2 -0.295374  0.395021 -0.477685  1.291511
3 -0.256118  0.848142 -0.094783  0.570850
4 -0.119961  0.162345  1.152613 -1.194811

In [8]:
df2 = pd.DataFrame({'Categories': ['A','B','C'],'Values':[1,2,3]})

In [9]:
df2.head()

  Categories  Values
0          A       1
1          B       2
2          C       3

In [11]:
df1.iplot()

In [28]:
df1.iplot(kind='scatter',x= 'A',y = 'B',mode= 'markers')